@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

canvas {
  position: fixed;
  top: 0;
  left: 0;
}

main {
  position: absolute;
  z-index: 50;
  padding: 3rem;
  font-family: "Montserrat", sans-serif;

  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

section {
  grid-column: 1 / 12;
  padding-top: 2rem;
}

.main-title {
  font-size: 5em;
  margin-bottom: -20px;
}

.subtitle {
  font-size: 1.5em;
}

.register-btn {
  border-radius: 30px;
  padding: 5px 16px;
  border: none;
  background-color: #6140f3;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 1em;
}

/* schedule component */

.schedule-box {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 30px;
  padding-left: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.schedule-grid {
  display: grid;
  gap: 1.25rem;
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

/* scren sizes less than 600px */
@media only screen and (max-width: 600px) {
  main {
    padding: 1rem;
    grid-template-columns: repeat(6, 1fr);
  }
  .main-title {
    font-size: 3rem;
  }
  .schedule-grid {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}
