@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

canvas {
  position: fixed;
  top: 0;
  left: 0;
}

main {
  position: absolute;
  z-index: 50;
  padding: 3rem;
  font-family: "Montserrat", sans-serif;

  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

section {
  grid-column: 1 / 12;
  padding-top: 2rem;
}

/* arrows */

.arrow {
  text-align: center;
  margin: 8% 0;
}

.arrow-down {
  height: 50px;
  width: 50px;
  color: white;
}

.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

/**/

.header-section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.main-title {
  font-size: 5em;
  margin-bottom: -20px;
}

.subtitle {
  font-size: 1.5em;
}

.register-btn2 {
  border-radius: 20px;
  padding: 16px 48px;
  border: none;
  background-color: #6140f3;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 1.2em;
}
.register-btn {
  background: rgba(255, 255, 255, 0.45);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(8.5px);
  -webkit-backdrop-filter: blur(8.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 1.2em;
  cursor: pointer;
}

.image-overlay {
  position: absolute;
  right: 0;
  top: 8rem;
  z-index: 30;
}

/* schedule component */

.glass-box {
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.schedule-grid {
  display: grid;
  gap: 1.25rem;
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.card-cta {
  border-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: #ffffff;
  border: none;
  transition: all 0.2s ease-in-out;
}

.card-cta:hover {
  transform: scale(1.1);
  cursor: pointer;
  box-shadow: 2px 2px 2px 0px rgba(83, 83, 83, 0.37);
}

.footer-text {
  text-align: center;
  color: white;
  font-weight: 700;
}

.footer-link {
  color: white;
  text-decoration: dotted;
}

.footer-link:hover {
  color: #808080;
  text-decoration: wavy;
}
/* scren sizes less than 600px */
@media only screen and (max-width: 600px) {
  main {
    padding: 1rem;
    grid-template-columns: repeat(6, 1fr);
  }
  .main-title {
    font-size: 3rem;
  }
  .schedule-grid {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  .image-overlay {
    display: none;
  }
}
